@import "./reset.css";

:root {
    --disc-colour: black;
    --disc-label: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 90% 0%);
    background-color: var(--disc-colour);
    border: 5px solid var(--disc-colour);
    border-radius: 3%;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-disc {
    height: 100%;
    width: 100%;
}

.upper-disc {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    height: 100%;
    width: 300px;
}

.metal {
    height: 100%;
    width: 200px;
    margin-right: 5%;
    background-image: linear-gradient(to right, silver, white, silver);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hole {
    width: 50px;
    height: 80%;
    background: var(--disc-colour);
    margin-right: 15%;
}

.lower-disc {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.leftpad-container {
    height: 220px;
    width: 40px;
    align-items: flex-start;
}

.label {
    background: var(--disc-label);
    height: 220px;
    width: 304px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.label-top {
    background: #B4041B;
    height: 30px;
    width: 100%;

}

.label-line {
    border-bottom: 1.5px solid #B4041B;
    height: 30px;
    width: 100%;
}

.label-index {
    margin-top: 10px;
}

.label-index span {
    color: #B4041B;
    margin-left: 10px;
}



.rightpad-container {
    height: 220px;
    width: 40px;
    align-items: flex-end;
}